@page "/Users/ChangePassword/{userId?}"
@using UsersManagementResources = UserManagement.Localization.UsersManagement.UsersManagement;
@using SharedResources = Common.Localization.Shared.Shared;
@model UserManagement.Web.Areas.UserManagementAdmin.Pages.Users.ChangePasswordModel
@{
}


<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>@UsersManagementResources.ChangePassword_FormTitle<small>@UsersManagementResources.ChangePassword_FormDesc</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="demo-form2" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <input asp-for="Input.Id" type="hidden" />


                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                            @UsersManagementResources.FormUserName<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <span>@Model.Input.UserName</span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                            @UsersManagementResources.FormPassword <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" asp-for="Input.Password" class="form-control  has-feedback-left">
                            <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                            @UsersManagementResources.FormConfirmPassword <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control  has-feedback-left">
                            <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" asp-page-handler="Submit" class="btn btn-success">@SharedResources.Submit</button>
                            <button class="btn btn-primary" type="reset">@SharedResources.Reset</button>
                            <button type="submit" asp-page-handler="Cancel" formnovalidate="formnovalidate" class="btn btn-primary">@SharedResources.BackToList</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>