@page
@using UsersResources = UserManagement.Localization.Users.UsersResources
@using _LayoutManagement = UserManagement.Localization._LayoutManagement._LayoutManagement
@using SharedResources = Common.Localization.Shared.Shared
@model ChangePasswordModel
@{
    ViewData["Title"] = UsersResources.ChangePassword;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <h1>@UsersResources.ChangePassword</h1>
    <div>
        <label>
            @UsersResources.CurrentPassword
        </label>
        <input asp-for="Input.OldPassword" class="form-control" />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

    </div>

    <div>
        <label>
            @UsersResources.NewPassword
        </label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

    </div>
    <div>
        <label>
            @UsersResources.ConfirmPassword
        </label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

    </div>
    <div>
        <button type="submit" class="btn btn-secondary submit">@UsersResources.ChangePassword</button>

    </div>
    <div>
        <div class="clearfix"></div>
        <br />
        <a id="forgot-password" asp-page="/Index" asp-area="UserManagementAdmin" class="btn btn-default submit">@SharedResources.BackToHomePage</a>
    </div>
    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1><i class="fa fa-users"></i>@_LayoutManagement.SystemName</h1>
        </div>
    </div>
</form>
