@page
@using UsersResources = UserManagement.Localization.Users.UsersResources
@using _LayoutManagement = UserManagement.Localization._LayoutManagement._LayoutManagement
@using SharedResources = Common.Localization.Shared.Shared
@model ResetPasswordModel
@{
    ViewData["Title"] = UsersResources.ResetPassword;
}



<form method="post">
    <h1>@UsersResources.ResetPassword</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div>
        <input asp-for="Input.Email" class="form-control" placeholder="@(UsersResources.Email)" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div>
        <input asp-for="Input.Password" class="form-control" placeholder="@(UsersResources.Password)" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@(UsersResources.ConfirmPassword)" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary submit">@SharedResources.ResetPassword</button>

    </div>

    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1><i class="fa fa-users"></i>@_LayoutManagement.SystemName</h1>
        </div>
    </div>
</form>
