@page
@using Common.Localization.Shared
@using CrossCutting.Core.Globalization
@using RulesManagementResources = UserManagement.Localization.RulesManagement.RulesManagement
@using SharedResources = Common.Localization.Shared.Shared

@model Christmas_Application.Web.Areas.UserManagementAdmin.Pages.Rules.IndexModel
{
}



<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>@RulesManagementResources.Index_SearchFormTitle <small>@RulesManagementResources.Index_SearchFormDesc</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="frm_Search" method="post" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            @RulesManagementResources.FormRulesName <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="txt_name" type="text" name="name" class="form-control ">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button id="btn_Search" type="submit" class="btn btn-success">@SharedResources.Search</button>
                            <button id="btn_Reset" type="button" class="btn btn-primary">@SharedResources.Reset</button>
                            <button type="submit" asp-page-handler="Cancel" formnovalidate="formnovalidate" class="btn btn-primary">@SharedResources.BackToHomePage</button>
                            <partial name="_AuthorizedLink" model="@(new AuthorizedLinkViewModel(NavigationConstants.Area,NavigationConstants.Pages.RulesCreate,RulesManagementResources.Index_SearchFormNewRuleLink,"<i class='fa fa-plus-circle'></i>"))" />

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2> @RulesManagementResources.Index_ListTitle  <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="item form-group">

                    <div class="col-md-12 col-sm-12 ">

                        <div id="TableContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section JTableStaticFiles{
    <partial name="_JTableStaticFiles" />
}
@section Scripts{
    <script type="text/javascript" src="/Globalization/Resources/v1.1/UserManagement.Localization/UserManagement.Localization.RulesManagement.RulesManagement/@CultureHelper.CurrentCultureName/javascript/"></script>
    <script src="~/ClientApp/UserManagementAdmin/Rules/app.rulesIndex.js"></script>
    <script>
         var initialData = {
                urlListAction: '@Url.Page("/Rules/Index", "Search" ,new {area= "UserManagementAdmin" })',
                detailsBaseUrl: '@Url.Page("/Rules/Display", "" ,new {area= "UserManagementAdmin" })',
                editeBaseUrl: '@Url.Page("/Rules/Edite", "" ,new {area= "UserManagementAdmin" })'
            };

            $app.rulesIndex.Init(initialData);
    </script>
}